.cell {
    width: 40px;
    height: 40px;
    display: flex;
    background-color: lightgray;
    align-items: center;
    justify-content: center;
    color: black;
}

.empty-cell {
    background-color: black;
}

.hidden-cell {
    background-color: darkgray;
}